{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- Horizontal form -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Change Password</h5>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    {% trans_default_domain 'FOSUserBundle' %}

                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        {{ form_widget(form) }}

                    <div class="container">
                        <div class="row">
                            <input type="submit" class="btn bg-teal-300" value="{{ 'change_password.submit'|trans }}" />
                            <a class="btn btn-default" href="{{ path('index_admins_page') }}">Back</a>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    {{ form_errors(form) }}
                    <!-- /advanced login -->

                </div>
            </div>
        </div>
        <!-- /horizotal form -->


    </div>
        <!-- /content area -->

</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>
<!-- /page container -->
{% endblock %}